var COMMON = {
  DOUBLE_CLICK_TIME_PERIOD: 250,
  DEFAULT_INDEX: -1,
  DEFAULT_AVATAR: "/assets/admin/img/avatars/default.png",
};

var itemBeforeEdit = {};
var prefix = 'admin/';
var modelName = "config";
var appModel = {
  modelName: modelName,
  prefix: prefix,
  data: {
    item: {
      name: '',
      key: ' ',
      description: '',
      value: '',
      type: 'text',

    },
    items: [],
    option: {}
  },
  view: {
    table: {
      selectIndex: COMMON.DEFAULT_INDEX,
    },
  }
}

  function getconfig() {
    var query = location.hash.split('/').reverse()[0].split('?')[1];
    if(typeof query === 'undefined') {
      query = '';
    }
    return query;
  }

/* TABLETOOLS */

<%- include ../default/vue.ejs %>
// 需要新增函式可以對 appMain 進行定義，如：
// appMain.log = function () {console.log("123")}

appMain.editDisabled = function(){
  $('label.fn-edit-disabled > input').attr('disabled', true);
  $('label.fn-edit-disabled').addClass('state-disabled');
};

appMain.createHide = function () {
  $('.fn-create-hide').hide();
};

appMain.DataTableInitComplete = function()  {
  var reloadConfigBtn = '<a class="DTTT_button DTTT_button_text" id="ToolTables_main-table_custom_1" title="重新載入 Config" tabindex="0" aria-controls="main-table"><span>重新載入 Config</span></a>'
  $(reloadConfigBtn).prependTo('.DTTT_container');
  $('#ToolTables_main-table_custom_1').on('click', function() {
    $.SmartMessageBox({
      title : "重新載入 Config",
      buttons : "[取消][確定]"
    }, function(ButtonPress) {
      if(ButtonPress === '確定') {
        $.ajax({
          url: '/api/admin/config/reload',
          type: 'POST',
          success: function(result) {
            console.log(result);
            messageApp.show({
              desc: '更新 Config 成功！',
              type: 'success'
            });
            defaultTable.api().ajax.reload(null, false);
            location.reload();
          },
          error: function(result) {
            console.log('更新失敗', result);
            messageApp.show({
              desc: '更新 Config 失敗！'+ result.responseJSON.message,
              type: 'error'
            });
          },
        });
      }
    });
  });
  $('.loading-wrapper').removeClass('active');
};


appMain.save = function (event, getQuery, extraModelName) {
  	var ajaxSuccess = function (result) {
  		var callbackUrl = $('#main-form').data('callback') || '';
  		var url = '/admin/#/admin/imagelist';
       if(getQuery !== '') {
         getQuery = '?' + getQuery;
       }
  		if (callbackUrl!== '') {
  			url = '/admin/#/admin' + callbackUrl + getQuery;
  		}
  		location.href = url + getQuery;
  		messageApp.show({
  		desc: '新增成功！',
  		type: 'success'
  	});
  }
}

appMain.setupForm = function (type) {
  var registerForm = $("#main-form");

  if(appModel.data.option.imgUpload){
    var imgUploadSteup = appModel.data.option.imgUpload;
    Object.keys(imgUploadSteup).forEach(function (key) {
       uploadImageApp.updateModel(key, imgUploadSteup[key]);
    });
    uploadImageApp.setup();
  }

  uploadImageApp.updateModel('itemLimit', 1);
  uploadImageApp.updateModel('onComplete', function(id, name, response){
    appMain.data.item.ImageId = response.data.id;
    appMain.data.item.value = response.data.url;
  })
  uploadImageApp.updateModel('onDeleteComplete', function(id, name, response){
    console.log(id, name, response);
    appMain.data.item.ImageId = null;
    appMain.data.item.value = '';
  })
  uploadImageApp.setup();

  registerForm.validate({
    rules: formRules,
    messages: formMessages,
    errorPlacement: function (error, element) {
      error.insertAfter(element.parent());
    },
    submitHandler: function (form) {
      if (type === 'create') {
        appMain.save('', getConfig(), 'imagelist');
        return false;
      } else if (type === 'edit') {
        appMain.update('', getConfig(), 'imagelist');
        return false;
      }
    }
  });
}

appMain.hidenSearch = function() {
	$('[type=search]').prop('disabled', true);
	$('#main-table_filter').hide();
}

appMain.filterConfig = function() {
  $('[type=search]').val(getConfig());
}

appMain.customSearch = function(data) {
  if(getConfig() !== '') {
    appModel.pagingQuery.columns.push({
      data: 'name',
      searchable: true,
      search: {
        custom: {
          where: getConfig(),
        }
      }
    });
  }
};

appMain.show = function (id) {
  var getQuery = getConfig();
  if(getQuery !== '') {
    getQuery = '?' + getQuery;
  }
  location.href = '/admin/#/admin/imagelist/show/' + id + getQuery;
}

appMain.edit = function (id) {
  var getQuery = getConfig();
  if(getQuery !== '') {
    getQuery = '?' + getQuery;
  }
  location.href = '/admin/#/admin/imagelist/edit/' + id + getQuery;
}

appMain.cancel = function (event) {
  var callbackUrl = $('#main-form').data('callback') || '';
  var url = '/admin/#/admin/imagelist';
  var getQuery = getConfig();
  if(getQuery !== '') {
    getQuery = '?' + getQuery;
  }
  if (callbackUrl!== '') {
    url = '/admin/#/admin' + callbackUrl + getQuery;
  }
  appMain.onLeavePageEdit(function() {
    location.href = url + getQuery;
  });
}

appMain.delete = function (event) {
  var msg = {
    title: '刪除',
    content: '確認刪除此筆資料？',
    btnArray: ['刪除', '取消'],
  };
  var action = function (ButtonPressed) {
    if (ButtonPressed === '刪除') {
      var getQuery = getConfig();
      if(getQuery !== '') {
        getQuery = '?' + getQuery;
      }
      var ajaxSuccess = function (result) {
        appModel.view.table.selectIndex = COMMON.DEFAULT_INDEX;
        messageApp.show({
          desc: `刪除資料成功！`,
          type: 'success'
        });
        var callbackUrl = $('#main-form').data('callback') || '';
        var url = '/admin/#/admin/imagelist';
        if (callbackUrl!== '') {
          url = '/admin/#/admin' + callbackUrl;
        }
        location.href = url + getQuery;
        setTimeout(function () {
          location.href = url + getQuery;
        }, 500);
      }; // end ajaxSuccess

      var ajaxError = function (result) {
        messageApp.show({
          desc: '刪除資料失敗！errorMessage: ' + result.responseJSON.message,
          type: 'error'
        });
      };

      $.ajax({
        url: '/api/' + prefix + 'config/' + appModel.data.item.id,
        type: 'DELETE',
        dataType: 'json',
        xhrFields: {
          withCredentials: true
        },
        success: ajaxSuccess,
        error: ajaxError,
      });
    }
  };
  messageApp.confirm(msg, action);
}

appMain.hideIndex = function() {  // 暫時權限擋連結
  if(getConfig() === '') {
    window.location.href = '/admin/#/admin/dashboard';
  }
}

appMain.taxrateOnly = function() {
  if(getconfig() === 'taxrate') {
    $('.key').attr('data-hide', 'always');
    $('.type').attr('data-hide', 'always');
    document.getElementsByClassName('name')[0].innerHTML = '名稱';
    document.getElementsByClassName('value')[0].innerHTML = '稅率';
  }
}

appMain.createDisablede = function() {
  $('#ToolTables_main-table_2').hide();
}

