
<!-- client -->
<table id="main-table" class="table table-striped table-bordered table-hover" width="100%">
	<thead>
		<tr>
			<th width="50" data-hide="phone">
				<i class="fa fa-fw text-muted fa-hashtag hidden-sm hidden-xs"/>
				ID
			</th>

			<th data-class="expand">name</th>
			<th data-hide="always">description</th>
			<th data-hide="always">message</th>
			<th data-hide="phone,tablet">story</th>
			<th width="100" class="" >type</th>
			<th data-hide="always">link</th>
			<th data-hide="always">sourceId</th>
			<th width="150" data-hide="phone,tablet">createdTime</th>
			<th width="80" data-hide="phone,tablet"></th>
		</tr>
	</thead>
	<!-- client only -->
	<tbody>
	</tbody>
</table>

<script type="text/javascript">
	var pagefunction = function() {

		// server only
		var columns = [
			{ "data": "id" },
			{ "data": "name" },
			{ "data": "description" },
			{ "data": "message" },
			{ "data": "story" },
			{ "data": "type" },
			{ "data": "link" },
			{ "data": "sourceId" },
			{ "data": "createdTime" },
			{ "data": "publish" }
		]

		// server only
		var columnDefs = [
      {
        "targets": 'no-sort',
        "orderable": false,
      },
			{
				"targets"  : 9,
				"orderable": false,
				"searchable": false,
				"render": function ( data, type, row ) {
					var colBody =
					'<div class="row-action-buttons hidden-xs hidden-sm">'+
						'<input type="checkbox" name="publish" checked>'+
					'</div>';
					return colBody;
				}
			},
		]
		var tableButtons = [
			{
				"sExtends": "text",
				"sButtonText": "重新匯入",
				"fnClick": function (nButton, oConfig, oFlash) {
					var that = this;
					$.ajax({
						url: "/api/admin/facebook/import",
						method: "get",
						dataType: 'json',
						cache: false
					}).done(function (result) {
						messageApp.show({
							desc: '匯入完成',
							type: 'success'
						});
						defaultTable.api().ajax.reload()

					});
				}
			}
		];



		var serverSidePaging = <%= (data.serverSidePaging != null)?data.serverSidePaging:false %>;
		var supportDblclickShow = false;
		<%- include vue.ejs %>
		appMain.$mount("#main-index");
		appMain.loadItems(appMain.renderTable);

	};
</script>
