<!-- CSS Page Style -->
<link rel="stylesheet" href="/assets/unify/css/pages/page_log_reg_v1.css">

<style type="text/css">
.login-block .social-login {
    margin-bottom: 70px;
    border-bottom: 1px solid #eee;
    position: relative;
}
.login-block .or {
    position: relative;
    border: 1px solid #eee;
    width: 70px;
    height: 70px;
    top: 35px;
    left: 50%;
    margin-left: -35px;
    text-transform: uppercase;
    color: #333;
    background: #fff;
    line-height: 70px;
    padding: 0 24px;
    z-index: 1;
}
.rounded-x {
    border-radius: 50% !important;
}
.input-group label.error {
  position: absolute;
  bottom: -2em;
  width: 100%;
  left: 0;
  color: red;
}
.help-block {
  color: #a94442;
  font-weight: bolder;
}

</style>

<!--=== Content Part ===-->
<div class="container content">
  <div class="row">
    <div class="login-block col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <form class="reg-page" method="post" action="/api/user/password">

        <div class="reg-header">
          <h2>更新密碼</h2>
        </div>

        <input type="hidden" value="<%= data.token %>" name="token">

        <div class="input-group margin-top-20">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <input type="password" placeholder="請輸入密碼" value="" id="password" name="password" class="form-control">
        </div>

        <div class="input-group margin-top-20">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <input type="password" placeholder="請再次輸入密碼以便確認" value="" id="passwordConfirm" name="passwordConfirm" class="form-control">
        </div>

        <div class="row margin-top-20 margin-bottom-25">
          <div class="col-md-6 checkbox">
          </div>
          <div class="col-md-6">
            <button id="submit-button" class="btn-u pull-right" type="submit">送出</button>
          </div>
        </div>

        <% var error = req.flash('error')[0]; %>
        <% if (error) { %>
          <div class="alert alert-warning" role="alert"><%= error %></div>
        <% } %>

      </form>
    </div>
  </div><!--/row-->
</div><!--/container-->

<% LayoutUtils.addScriptBlock(`
  $(document).ready(function(){

    $(".reg-page").validate({
      rules: {
        password : {
          required : true,
          minlength : 6,
        },
        passwordConfirm : {
          required : true,
          equalTo : '#password'
        },

      },
      messages: {
        password: {
          required: "請輸入密碼",
          minlength: '請大於 6 碼',
        },
        passwordConfirm: {
          required: "請再次輸入密碼以便確認",
          equalTo : '請輸入相同的密碼'
        }
      },
      highlight: function(element) {
          $(element).closest('.form-group').addClass('has-error');
      },
      unhighlight: function(element) {
          $(element).closest('.form-group').removeClass('has-error');
      },
      errorElement: 'span',
      errorClass: 'help-block',
      errorPlacement: function(error, element) {
          if(element.parent('.input-group').length) {
              error.insertAfter(element.parent());
          } else {
              error.insertAfter(element);
          }
      }
    });

  });
`); %>
<!--=== End Content Part ===-->
