<script id="noneOrder" type="text/x-jquery-tmpl">
  <div class="well">
    <div class="margin-bottom-40">
      <h2>你還沒有購買任何項目喔!!</h2>
      <p><span class="brand-font">LFP</span> 香料香水實驗室的好友們，正在期待您的創作。</p>
      <!-- <a href="#" class="btn-create-recipe btn-u btn-u-sm">開始創作</a> -->
    </div>
  </div>
</script>

<script id="orderList" type="text/x-jquery-tmpl">
  <style>
    th.center {text-align:center}

    .accordion-toggle td:first-child:after {
      content: "\f078"; /* fa-chevron-down */
      font-family: 'FontAwesome';
      right: 0;
    }

    tr[aria-expanded="true"] > td:first-child:after{
      font-family: 'FontAwesome';
      content: "\f077"; /* fa-chevron-up */
    }

  </style>
  <div class="well">
  <h2>配方訂購項目</h2>
  <table class="table">
  	<thead>
  		<tr>
        <th></th>
        <th>訂單編號</th>
  			<th class="hidden-sm">訂購商品</th>
        <th class="center hidden-sm">收件人</th>
  			<th class="center">訂單狀態</th>
        <th class="center hidden-sm">貨運單號</th>
        <th class="center"></th>
  		</tr>
  	</thead>
  	<tbody>
      {{each data}}
  			<tr data-toggle="collapse" data-target="#${MerchantTradeNo}" class="accordion-toggle collapsed" aria-expanded="false">
          <td width="5%"></td>
          <td width="20%">${MerchantTradeNo}</td>
          <td width="20%" class="hidden-sm">${RecipeOrder.Recipe.perfumeName}</td>
          <td width="15%" class="hidden-sm" align="center">${RecipeOrder.recipient}</td>
  				<td width="20%" align="center">${RecipeOrder.productionStatusDesc}</td>
          <td width="20%" class="hidden-sm" align="center">${RecipeOrder.trackingNumber}</td>
          <td width="20%" align="center"><a href="/recipe/done?t=${MerchantTradeNo}" class="btn-u btn-u-brown btn-u-xs">詳細</a></td>
  			</tr>
        <tr>
            <td colspan="7" class="hiddenRow no-padding">
              <div class="margin-bottom-20 margin-top-20 margin-right-10 margin-left-10 collapse" id="${MerchantTradeNo}" aria-expanded="false" style="height: 0px;">
                {{if RecipeOrder.trackingNumber}}
                  <div class="margin-bottom-10">
                    <b>貨運單號:</b>
                    <p class="ng-binding">
                      ${RecipeOrder.trackingNumber}
                        <a href="http://www.sf-express.com/tw/tc/dynamic_functions/waybill/#search/bill-number/${RecipeOrder.trackingNumber}" class="btn-u btn-u-brown btn-u-xs" target="_blank">查詢</a>
                    </p>
                  </div>
                {{/if}}
                <div class="margin-bottom-10">
                  <b>收件地址:</b>
                  <p class="ng-binding">
                    ${Address}
                  </p>
                </div>
                <div class="margin-bottom-10">
                  <b>Email:</b>
                  <p class="ng-binding">
                    ${Email}
                  </p>
                </div>
                <div class="margin-bottom-10">
                  <b>發票號碼:</b>
                  <p class="ng-binding">
                    ${invoiceNo}
                  </p>
                </div>
                <div class="margin-bottom-10">
                  <b>備註:</b>
                  <p class="ng-binding">
                    ${RecipeOrder.message}
                  </p>
                </div>
                <div class="margin-bottom-10">
                  <b>建立日期:</b>
                  <p class="ng-binding">
                    ${createdDateTime.dateTime}
                  </p>
                </div>
              </div>
            </td>
        </tr>
      {{/each}}
  	</tbody>
  </table>

  </div>
</script>

<% LayoutUtils.addScriptBlock(`
    var loadOrder = function() {
      var successCatch = function(e) {
        $('#order').empty();
        if(e.data.item.length === 0 ){
          $('#order').append($('#noneOrder').tmpl());
        } else {
          var data = e.data.item;
          var orderList = $('#orderList').tmpl({
            data: data,
          });
          $('#order').append(orderList);
        }
      }
      var failCatch = function(e) {
        console.log(e);
      }
      $.get('/api/labfnp/order').done(successCatch).fail(failCatch);
    }
`); %>
<!--=== End Content Part ===-->
