<!-- CSS Page Style -->
<link rel="stylesheet" href="/assets/unify/css/pages/page_404_error.css">

<style>
  .btn-u {
  	margin: 1.3em 5px;
  }
  .btn-gray{
  	background-color: gray;
  }
</style>

<!--=== Content Part ===-->
<div class="container content">
	<!--Error Block-->
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="error-v1">
				<span class="error-v1-title">
          <% if( data.valid ){ %>
            <i class="fa fa-check-circle" aria-hidden="true"></i>
          <% } else { %>
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          <% } %>
        </span>
				<span><%= data.message %></span>
				<a class="btn-u btn-bordered btn-gray" href="/">返回首頁</a>
			</div>
		</div>
	</div>
	<!--End Error Block-->
</div>
<!--=== End Content Part ===-->
