<div class="footer">
  <div class="container">
    
    <div class="row">
      <div class="col-sm-5">
        <img class="footer-logo" src="/assets/labfnp/img/img.index/logo-with-texts.png" alt="logo">
        <h2 class="footer-slogan">自己的香水自己創造，由你創作屬於<br class="hidden-xs">個人化的香水。</h2>
        <div class="copyright">Copyright © Laboratory of Fragrance & Perfume Co., 2015.
<br>All Rights Reserved.</div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-4 col-xs-6">
            <ul class="footer-link-group">
              <li><a href="/">關於LFP</a></li>
              <li><a href="/lab">實驗室</a></li>
              <li><a href="/wall">近期動態</a></li>
              <li><a href="/event">活動</a></li>
              <li><a href="/blog">網誌</a></li>
              <li><a href="/contact">聯絡我們</a></li>
            </ul>
          </div>
          <div class="col-sm-4 col-xs-6">
            <ul class="footer-link-group">
              <li><a href="">網站地圖</a></li>
              <li><a href="">服務條款</a></li>
              <li><a href="">隱私權政策</a></li>
            </ul>
          </div>
          <div class="col-sm-4 col-xs-6">
            <ul class="footer-link-group">
              <li><a>服務專線</a></li>
              <li><a href="tel:+886423015682">(04)2301-5682</a></li>
              <li><a href="mailto:info@labfnp.com">info@labfnp.com</a></li>
              <li><a href="/contact">線上聯繫表單</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
        
  </div>
</div>
