.footer {
  background: #5E5651;
  padding: 53px 0 55px;
  font-weight: 300;
  @media screen and (max-width: 767px) {
    padding: 45px 2em 47px;
  }
  .footer-logo {
    width: 100%;
    max-width: 310px;
  }
  .footer-slogan {
    margin: 24px 0 24px;
    font-size: 14px;
    font-weight: 300;
    color: rgba(242, 208, 162, 0.7);;
    letter-spacing: 1.71px;
  }
  .footer-link-group {
    margin: 0;
    padding: 0;
    padding-top: .5em;
    padding-left: 3em;
    list-style: none;
    @media screen and (max-width: 991px) {
      padding-left: 1em;
    }
    @media screen and (max-width: 767px) {
      padding-top: 2.5em;
      padding-left: 0;
    }
    li > a {
      font-size: 12px;
      color: rgba(255, 255, 255, 0.7);
      line-height: 24px;
    }
  }
  .copyright {
    font-size: 12px;
    color: rgba(242, 208, 162, 0.7);;
  }
}