.map-info-dialog {
  &-image {
    float: left;
    width: 150px;
    margin: 0 15px 0 0;
    @media screen and (max-width: 991px) {
      display: none;
    }
  }
  &-content {
    font-family: "Noto Sans TC Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    @media screen and (max-width: 991px) {
      margin-left: 0;
      padding-bottom: 2.5em;
    }
    margin-left: 165px;
    h2 {
      font-family: "Noto Sans TC", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: bold;
      padding-top: 8px;
    }
    h2, address, a, span {
      display: block;
      margin: 0;
      font-size: 13px;
      line-height: 1.5;
    }
    a {
      color: #000000;
      font-weight: 300;
    }
  }
}
.map-wrapper {
  position: relative;
  .map-locations {
    font-family: "Noto Sans TC DemiLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      width: 270px;
      height: 56px;
      padding: 0 20px;
      line-height: 56px;
      background-color: #FBEFEF;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
      font-size: 18px;
      color: #94795B;
      cursor: pointer;

      transition: 0.3s;
      @media screen and (max-width: 991px) {
        width: 221px;
        padding-left: 15px;
      }
      span:last-child {
        border-left: 2px solid #94795B;
        padding-left: 1em;
        margin-left: 0.5em;
      }
      &.active {
        background-color: #94795B;
        color: #FFF;
        span:last-child {
          border-left: 2px solid #FFF;
        }
      }
    }
    li:not(:last-child) {
      margin-bottom: 26px;
    }
  }
}