
<fieldset>

  <div class="row">
    <section class="col col-md-6 col-sm-6 col-xs-6">
      <label class="label">內容類型</label>
      <label class="select">
        <select v-model="data.item.type">
          <option value="blog" selected>部落格</option>
          <option value="internal-event">活動</option>
          <option value="external-event">外部活動</option>
        </select> <i></i> </label>
    </section>

    <section class="col col-md-6 col-sm-6 col-xs-6">
      <label class="label">狀態</label>
      <label class="select">
        <select v-model="data.item.publish">
          <option value=0 selected>未公開</option>
          <option value=1 >公開</option>
        </select> <i></i> </label>
    </section>
  </div>


  <section v-show="data.item.type === 'external-event'">
    <label class="label">外連連結</label>
    <label class="input">
      <input type="text" name="url" placeholder="外連連結" v-model="data.item.url">
      <b class="tooltip tooltip-bottom-right">輸入外連連結</b></label>
  </section>

  <section v-show="data.item.type === 'internal-event'">
    <label class="label">活動票卷
      <button type="button" class="btn btn-default btn-sm" style="margin: 10px;"
      v-on:click="onCreateNewEvet()" >新增清單內沒有的票卷</button  >
    </label>
    <div class="row" v-for="event in data.item.eventId">
      <section class="col col-lg-10 col-xs-10">
        <label class="select">
          <select v-model="data.item.eventId[$index].id">
            <option value="0"></option>
            <option v-for="info in data.option.allevent" v-bind:value="info.id">
              {{ info.title }} - {{ info.limit }}張 - {{info.price}}元
            </option>
          </select> <i></i>
        </label>
      </section>
      <section class="col col-lg-2 col-xs-2">
        <label class='center'>
          <button type="button"class="btn btn-default btn-sm"
          v-on:click="onEventAddClick">+</button>
        </label>
        <label class='center'>
          <button type="button" class="btn btn-default btn-sm"
          v-bind:disabled="data.item.eventId.length == 1"
          v-on:click="onEventSubtractClick($index)">-</button>
        </label>
        <label class='center'>
          <button type="button" class="btn btn-default btn-sm"
          v-on:click="onEventEdit(event.id)" >編輯</button  >
        </label>
      </section>
    </div>
  </section>

  <section>
    <label class="label">封面類型</label>
    <label class="select">
      <select v-model="data.item.coverType" v-on:change="selectOnChange">
        <option value="img" selected>圖片</option>
        <option value="video">影片</option>
      </select> <i></i> </label>
  </section>


  <section v-show="data.item.coverType === 'img'">
    <label class="label">封面</label>
    <%- include ../image/upload.ejs %>
  </section>
  <section v-show="data.item.coverType === 'video'">
    <label class="label">封面影片</label>
    <label class="input">
      <input type="text" name="coverUrl" placeholder="請輸入影片連結" v-model="data.item.coverUrl">
    </label>
  </section>


  <section>
    <label class="label">標題</label>
    <label class="input">
      <input type="text" name="title" placeholder="請輸入標題" v-model="data.item.title">
      <b class="tooltip tooltip-bottom-right">請輸入標題</b> </label>
  </section>

  <section>
    <label class="label">簡述</label>
    <label class="textarea">
      <textarea rows="3" name="abstract" placeholder="請輸入 100 字以內的簡短的描述" v-model="data.item.abstract"></textarea>
      <b class="tooltip tooltip-bottom-right">請輸入 100 字以內的簡短的描述</b> </label>
  </section>

  <section>
    <label class="label">可讀的網址</label>
    <label class="input">
      <input type="text" name="alias" placeholder="輸入可讀的網址，只限英文、數字、符號'-' 例如: LFP-workshop-in-kaohsiung" v-model="data.item.alias">
      <b class="tooltip tooltip-bottom-right">輸入可讀的網址，只限英文、數字、符號'-' 例如: LFP-workshop-in-kaohsiung</b> </label>
  </section>

  <section>
    <label class="label">內容</label>
    <div style="border: 1px solid #a9a9a9;">
      <div v-summernote="data.item.content" class="summernote">
        {{{ data.item.content }}}
      </div>
    </div>
  </section>

  <section>
    <label class="label">標籤</label>
    <input id="tagsinput" value="" data-role="tagsInputLabel">
  </section>


</fieldset>

<template id="event-tmpl">
</template>
